
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <h1 class="page-header text-center">Login to your account</h1>

      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
          <%= f.label :username %><br />
       <form action="" id="loginForm">

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= f.text_field :username, :class => "form-control", autofocus: true %>
          </div>

          <%= f.label :password %><br />
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
            <%= f.password_field :password, :class => "form-control",  autocomplete: "off" %>
          </div>

          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </label>
          </div>
          <div class="form-group">
            <%= f.submit "Log in", :class => "btn btn-danger btn-block btn-lg"%>
          </div>
          <div class="form-group text-center">  
	  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  	    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          <% end -%>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end -%>

          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div>

<% end %>
